@import "../../../styles/colors";
.task {
  background: $a20white;
  border: 1px solid $grey20;
  border-left: 10px solid $grey40;
  width: 100%;
  margin: 0.5rem;
  position: relative;
  display: flex;
  line-height: 1.25rem;

  .taskContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
    flex: 1;

    .checkboxContainer {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      z-index: 2;

      input[type="checkbox"] {
        appearance: none;
        box-sizing: border-box;
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
        border: 1px solid $purewhite;
        background: $a20white;
        &.checked {
          &::after {
            background: url("../../assets/check.svg");
            background-repeat: no-repeat;
            background-size: 1rem 0.68869rem;
            width: 1rem;
            height: 0.68869rem;
            content: "";
            margin: 6px auto; //no changing!
            display: block;
          }
        }
      }
    }
  }
  .optionsMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
  }
  &.low {
    border-left-color: $blue;
  }
  &.high {
    border-left-color: $orange;
  }
  &.uberHigh {
    border-left-color: $red;
  }
  &.done {
    background-color: $a50black;
    border: {
      top-color: $grey15;
      bottom-color: $grey15;
      right-color: $grey15;
    }
    color: $a50white;
  }
}
.actions {
  .actionsContainer {
    padding: 0.5rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0;
    border: 1px solid $grey20;
    background: {
      color: $grey40;
      image: url("../../assets/bckg.png");
      size: cover;
    }
    box-shadow: 0px 1rem 1rem 0px $a20black;
    .actionWrap {
      color: $purewhite;
      width: 100%;
      padding: 0.75rem 1rem;
      display: flex;
      gap: 1rem;
      border-radius: 0.5rem;
      svg {
        color: white;
      }
      &:hover {
        background-color: $a20white;
      }
    }
  }
}
