@import "../../../styles/colors";

.nav {
  z-index: 10;
  position: fixed;
  bottom: 0;
  background: $pureblack;
  background-image: url("../../assets/bckg-light.png");
  background-position-y: -167px;
  background-size: 100%;
  border-top: 1px solid $purewhite;
  padding: 0.5rem 4rem;
  width: 100%;
  max-width: 480px;
  box-shadow: 0 -1rem 1.5rem $a20black;
  .navList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    .navItem {
      padding: 1rem;
      border-radius: 0.5rem;
      background: transparent;
      font-weight: 500;
      font-size: 0.75rem;
      list-style: none;
      > a {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        color: $purewhite;

        &:visited {
          color: $a50white;
        }
      }
      svg {
        height: 1.5rem;
        width: 1.5rem;

        path {
          fill: $purewhite;
        }
      }
      &.active {
        background-color: $a20white;
        color: $purewhite;
      }
      &:first-child {
        padding: {
          right: 1.25rem;
          left: 1.25rem;
        }
      }
    }
  }
}
