.selectInput {
  appearance: none;
  background-color: #fff;
  border: 1px solid rgba(31, 62, 82, 0.09);
  border-radius: 15px;
  padding: 29px 15px 10px 15px;
  width: 100%;
  font-size: 16px;
  &:focus-visible {
    border: 1px solid rgb(67, 95, 124);
    outline: 0;
  }
}
