@import "../../../styles/colors";

.header {
  padding: 24px 16px 24px 16px;
  margin-bottom: -24px;
}

.titleContainer {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  padding: 0px 8px;
  justify-content: space-between;

  .title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.3rem;
    letter-spacing: 0.06rem;
  }
}

.starContainer {
  display: flex;
  align-items: center;
  width: 100px;
  gap: 1rem;
  margin-bottom: 2rem;
  font-size: 0.75rem;
  color: $purewhite;
  padding: 0.5rem;
}

.selectContainer {
  width: 100%;
  margin-bottom: 2rem;
  & > div {
    &::after {
      border: 0 !important;
    }
  }
}

.input {
  margin-bottom: 1rem;
  background-color: $a20black;
  border: 1px solid $a50white;
  color: $purewhite;
  label {
    color: $a70white !important;
  }
  & > div {
    &::after {
      border: 0;
    }
  }
  input {
    color: $purewhite;
  }
}
.label {
  color: $a70white !important;
}
.select {
  background-color: $a20black;
  border: 1px solid $a50white;
  color: $purewhite;
  & ~ svg {
    fill: $purewhite;
  }
}
