$purewhite: rgba(255, 255, 255, 1);
$a10white: rgba(255, 255, 255, 0.1);
$a20white: rgba(255, 255, 255, 0.2);
$a50white: rgba(255, 255, 255, 0.5);
$a70white: rgba(255, 255, 255, 0.7);
$a80white: rgba(255, 255, 255, 0.8);
$grey40: rgba (102, 102, 102, 1);
$grey60: rgba (153, 153, 153, 1);
$pureblack: rgba(0, 0, 0, 1);
$a10black: rgba(0, 0, 0, 0.1);
$a20black: rgba(0, 0, 0, 0.2);
$secondary: rgba(153, 121, 244, 1);
$secondarytext: rgba(15, 15, 15, 1);
$blue: rgba(15, 93, 211, 1);
$bluedark: rgba(21, 48, 89, 1);
$red: rgba(113, 7, 11, 1);
$reddark: rgba(61, 18, 20, 1);
$orange: rgba(167, 89, 8, 1);
$orangedark: rgba(74, 52, 28, 1);
$yellow: rgba(245, 153, 57, 1);
