@import "../../../styles/colors";
.reward {
  background: $a10white;
  border: 1px solid $grey20;
  width: 100%;
  overflow: hidden;
  margin: 1rem;
  line-height: 1.25rem;

  .rewardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
  }
}
